# WEb Scarping Using Python

# geting  covid-19 Data  from https://prsindia.org/ website using python

In [8]:
import requests as r
from bs4 import BeautifulSoup
import pandas as pd

In [10]:
url='https://prsindia.org/covid-19/cases'
res=r.get(url)
res

In [18]:
data=BeautifulSoup(res.text,'html.parser')
h=[]
d=data.find_all('table')
r=d[0].find_all('tr')
for i in r[0]:
    h.append(i.text.strip())
print(h)

['#', 'State/UT', 'Confirmed Cases', 'Active Cases', 'Cured/Discharged', 'Death']

In [27]:
r=d[0].find_all('tr')
x=[]
for i in r[1:]:
    t=i.find_all('td')
    y=[i.text for i in t]
    x.append(y)
    
for i in x:
    i[0]=i[0][:i[0].find('India')]
    i[1]=i[1][:i[1].find(' ')]
    i[2]=i[2][:i[2].find(' ')]
    i[3]=i[3][:i[3].find(' ')]
    i[4]=i[4][:i[4].find(' ')]
    
df=pd.DataFrame(x,columns=h)
df

    #     State/UT Confirmed Cases Active Cases Cured/Discharged   Death
0             Indi         4345216        10455          4282249  525116
1          Andaman            1015            4              998     129
2           Andhra          232137           75           230589   14731
3        Arunachal            6451                          6421     296
4             Assa           72478           39            71640    7988
5             Biha           83258           93            81938   12259
6        Chandigar            9378           56             9205    1165
7      Chhattisgar          115417           86           113928   14036
8            Dadra            1147            1             1145       4
9             Delh          193400          432           190342   26261
10  1           Go           24854           98            24372    3838
11  1       Gujara          123148          291           121762   10946
12  1       Haryan          101550          265           100222   10624
13  1     Himachal           28606           50            28141    4141
14  1        Jammu           45500           44            44980    4756
15  1     Jharkhan           43585           28            43025    5320
16  1     Karnatak          396836          570           392254   40117
17  1        Keral          663472         2886           653586   69993
18  1        Ladak            2841            7             2810     228
19  1   Lakshadwee            1140                          1135      52
20  2       Madhya          104424           49           103301   10741
21  2   Maharashtr          797247         2573           779881  147922
22  2       Manipu           13726            1            13512    2120
23  2     Meghalay            9394            6             9228    1594
24  2       Mizora           22904           26            22808     703
25  2      Nagalan            3550                          3474     761
26  2        Odish          128960           62           127984    9126
27  2    Puducherr           16643           30            16417    1962
28  2        Punja           76275          107            74390   17773
29  2     Rajastha          128832           93           127782    9564
30  3        Sikki            3922            2             3874     454
31  3        Tamil          347311         1003           342505   38026
32  3     Telangan           80047          442            79194    4111
33  3       Tripur           10090                          9997     923
34  3        Uttar          209005          354           206297   23538
35  3   Uttarakhan           43866           78            43018    7696
36  3         West          202790          588           200079   21218